<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Register Office v1.0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<a th:href="@{/logout}">Sign Out</a>

<div class="container">
    <div class="starter-template">
        <h1>Регистратура v1.0</h1>

        <form method="post" action="/find_clients" th:object="${search}"  th:size="100">
            <fieldset>
                <legend>Поиск клиента:</legend>
                <input type="text" name="findfield" th:field="*{searchString}" autocomplete="off" size="30" />
                <input type="submit" value="Search" />
            </fieldset>
        </form>

        <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">
        </div>

        <a href="/register_client">Регистрация клиента</a> <br/>

        <div sec:authorize="hasAuthority('ADMIN')">
            <br/>
            <a href="/create_user">Регистрация пользователя</a> <br/>
            <a href="/users_list">Список пользователей</a> <br/>
        </div>


    </div>
</div>

</body>
</html>