<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Register Office v1.0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">
    <div class="starter-template">
        <h1>Регистрация клиента</h1>

        <form th:action="@{/save_client}"  th:object="${client}" method="POST">
            <fieldset>
                <legend>ФИО:</legend>
                <label for="name">Имя: </label>
                <input type="text" id="name"  name="name" autocomplete="off" size="30"  th:field="*{name}" ><br/>
                <label for="surname">Фамилия: </label>
                <input type="text" id="surname" name="surname" autocomplete="off" size="30" th:field="*{surname}" ><br/>
                <label for="patronymic">Отчество: </label>
                <input type="text" id="patronymic" name="patronymic" autocomplete="off" size="30" th:field="*{patronymic}" ><br/>
                <label for="birthday">Дата рождения: </label>
                <input type="date" id="birthday" name="birthday" autocomplete="off" size="30" th:field="*{birthday}" ><br/>
            </fieldset>

            <fieldset>
                <label for="mobile">Телефон: </label>
                <input type="text" id="mobile"  name="mobile" autocomplete="off" size="30" th:field="*{mobile}"
                       required minlength="10" maxlength="10" > <br/>
            </fieldset>

            <fieldset>
                <legend>Доп. номера связи:</legend>
                <label for="additionalphone">Телефон: </label>
                <input type="text" id="additionalphone" name="additionalphone" autocomplete="off" size="30" maxlength="10" th:field="*{additionalPhones[0].phone}" ><br/>
                <label for="additionalinfo">Доп. информация: </label>
                <input type="text" id="additionalinfo" name="additionalinfo" autocomplete="off" size="30" th:field="*{additionalPhones[0].additionalInfo}"><br/>

            </fieldset>

            <fieldset>
                <legend>Паспортные данные:</legend>
                <label for="passportNumber">Номер паспорта: </label>
                <input type="text" id="passportNumber"  name="passportNumber" autocomplete="off" size="30" th:field="*{passports[0].number}"
                       required minlength="6" maxlength="6" ><br/>
                <label for="passportSeria">Серия паспорта: </label>
                <input type="text" id="passportSeria" name="passportSeria" autocomplete="off" size="30" th:field="*{passports[0].seria}"
                       required minlength="4" maxlength="4" ><br/>
                <label for="passportIssueDate">Дата выдачи: </label>
                <input type="date" id="passportIssueDate" name="passportIssueDate" autocomplete="off" size="30" th:field="*{passports[0].issueDate}" ><br/>
                <label for="passportWhereIssued">Кем выдан: </label>
                <input type="text" id="passportWhereIssued" name="passportWhereIssued" autocomplete="off" size="30" th:field="*{passports[0].whereIssued}"><br/>
            </fieldset>

            <input type="submit" value="Register" />
        </form>
        <br/>
        <!-- Check if errorMessage is not null and not empty -->

        <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">
        </div>

    </div>
</div>

</body>
</html>